@import "../../styles";

.container{
  display: grid;

  grid-template-columns: 1fr 4fr 5fr;
  grid-template-rows: auto auto auto;

  //max-width: 1080px;

  grid-gap: $medium-dist;
  margin: 0 auto;

  background-color: #add8e6;


  &__menu{
    display: grid;
    margin:  $medium-dist 0 0 $medium-dist;
    background-color: #fffcfc;

  }
  &__editor{
    display: grid;
    background-color: #fffcfc;
  }
  &__preview{
    display: grid;
    margin-right: $medium-dist;
    background-color: #fffcfc;
  }
}

.container__menu{
  display: block;
  background-color: #fffcfc;
}
