<form class="form" novalidate [formGroup]="form" (ngSubmit)="updateGivenCV()">
  <form-field class="form-field">
    <form-label>First name:</form-label>
    <input formInput
           type="text"
           placeholder="First name"
           [formControlName]=FIRSTNAME>
    <form-error>
      Provide first name
    </form-error>
  </form-field>
  <form-field class="form-field">
    <form-label>Last name:</form-label>
    <input formInput
           type="text"
           placeholder="Last name"
           [formControlName]=LASTNAME>
    <form-error>
      Provide last name
    </form-error>
  </form-field>
</form>
